// accordion for FAQ
.accordion {
    p{
        margin-bottom: 0px;
    }

    .accordion-item {
        border: none;
        border-radius: 0px;
        border-bottom: 1px solid $gray600;
    }

    .question{
        @include font-size($font-size-14);
        color: $brown600 !important;
        text-transform: uppercase;
        background-color: transparent !important;
        padding: 15px 0px;
        cursor: pointer;

        &::after{
            opacity: 0.6;
        }

        &:not(.collapsed){
            box-shadow: none;
            &:after {
                background-image: var(--bs-accordion-btn-icon);
            }
        }
    }

    .answer {
        color: $--txt-color;
        padding: 0px 25px 0px 0px ;
        margin-bottom: 20px;
    }
}